#header {
    background: #1d7874;
    color: #f4c095;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f4c095;
}


.module h2, .module caption, .inline-group h2 {
    background: #1d7874;
    color: var(--header-link-color);
}

div.breadcrumbs {
    background: #071e22;
    color: #FFF;
}