{% extends 'base.html' %}

{% block title %}
	Currency Settings
{% endblock %} 

{% block content %}
<div class="text">Preferred Currency</div>
<div class="row">
       
  <div class="col-md-10">
       <nav aria-label="breadcrumb">
           <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href= "">Settings</a></li>
               <li class="breadcrumb-item active" aria-current="page">Preferred Currency</li>
           </ol>
       </nav>
  </div>
  <div class="col-md-2">
      
  </div>
</div>


 <div class="preferences-container">
    {% include 'partials/messages.html' %}
    <form action="{% url 'userpreferences' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <select name="currency" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            {% if user_preferences %}
                {% if user_preferences.currency %}
                    <option selected>{{ user_preferences.currency }}</option>
                {% endif %}
            {% endif %}
              
              {% for currency in currencies %}
                
                <option name="currency" value="{{ currency.name }} - {{ currency.code }}">{{ currency.name }} - {{ currency.code }}</option>
    
                
              {% endfor %}
              
            </select>
            <input class="btn btn-outline-secondary button" type="submit" value="Save"/>
          </div>

    </form>
    
        
 </div>
    
    
{% endblock content %}