{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href= {% url 'incomes' %}>Incomes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
                </ol>
            </nav>
            <div class="auth-container edit-income">
                <div class="forms">
                    <div class="form">
                        <span class="title">Edit your income</span>
                        <form action="{% url 'edit_income' values.id %}" method="post">
                            {% csrf_token %}
                            {% include 'partials/messages.html' %}
        
                            <div class="input-field">
                                <input type="number" min="0" step=".01" placeholder="Amount" name="amount" value="{{ values.amount }}" required>
                                <i class='bx bx-money icon'></i>
                            </div>
                            <div class="input-field">
                                <input type="text" placeholder="Description" name="description" class="" value="{{ values.description }}" required>
                                <i class='bx bx-spreadsheet icon'></i>
                            </div>
        
                            <div class="input-field">
                                <select name="source" class="" >
                                    <option selected name="{{ values.source }}" value="{{ values.source }}">{{ values.source }}</option>
                                    {% for source in sources %}
                                        {% if source.name != values.source %}
                                            <option name="{{ source.name }}" value="{{ source.name }}">{{ source.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </select>
                        
                                <i class='bx bx-category icon' ></i>
                            </div>
        
                            <div class="input-field date">
                                <input class="date-picker" type="datepicker" class="" name="income_date" value="{{ values.date |date:'Y-m-d' }}" required>
                                <i class='bx bx-calendar icon' ></i>
                            </div>
        
                            <div class="input-field button update-delete-btn-area">
                                <input type="submit" value="Update Income" class="submitBtn updateBtn">
                                
                                <a href={% url 'delete_income' values.id %} class="button"><input type="button" value="Delete Income" class="submitBtn deleteBtn"></a>
                            </div>
        
                            {% comment %} <div class="input-field button update-delete-btn-area">
                                <a href={% url 'delete_expense' values.id %} class="button"><input type="submit" value="Delete Expense" class="submitBtn deleteBtn"></a>
                                
                            </div> {% endcomment %}
        
                        </form>
        
                        
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-1"></div>
      

    </div>
    
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="{% static 'js/editExpensesIncomes.js' %}"></script>




{% comment %} OLD FORM {% endcomment %}

{% comment %} <div class="container mt-4">
	<div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href= {% url 'incomes' %}>Incomes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href={% url 'delete_income' values.id %} class="btn btn-danger btn-sm">Delete</a>

        </div>

    </div>
    <div class="card">
        <div class="card-body">
            <form action={% url 'edit_income' values.id %} method="post">
                {% csrf_token %}
                {% include 'partials/messages.html' %}
                <div class="form-group mb-3">
                    <label class="form-label">Amount</label>
                    <input type="number" min="0" step=".01" class="form-control form-control-sm" name="amount" value="{{ values.amount }}">
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}">
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Source</label>
                    <select name="source" class="form-select form-control form-control-sm" >
                        <option selected name="{{ values.source }}" value="{{ values.source }}">{{ values.source }}</option>
                        {% for source in sources %}
                            {% if source.name != values.source %}
                                <option name="{{ source.name }}" value="{{ source.name }}">{{ source.name }}</option>
                            {% endif %}
                        {% endfor %}
                        
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Income date</label>
                    <input type="date" class="form-control form-control-sm" name="income_date" value="{{ values.date |date:'Y-m-d' }}">
                </div>
                <input type="submit" value="update_income" class="btn btn-primary float-end">
            </form>
        </div>
    </div>
	

</div> {% endcomment %}

{% endblock %}
