{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>



<div class="text">Incomes Sumary</div>


<div class="container mt-4">
   <div class="row">
       
       <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href= "{% url 'incomes' %}">Incomes</a></li>
                    <li class="breadcrumb-item" aria-current="page">My Incomes</li>
                    <li class="breadcrumb-item active" aria-current="page">Summary</li>
                </ol>
            </nav>
       </div>

   </div>

   <div class="container">
        {% include 'partials/messages.html' %}   
        <canvas id="myChart" width="388" height="280"></canvas>
        
   </div>
    
    



</div>


<script src={% static 'js/incomesStatsCharts.js' %}></script>
{% endblock content %}
