{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		
		<div class="card mt-5">
			<div class="card-body">
				<div class="card-title py-3">
					<h4>Register your account</h4>
				</div>

				

				<form action="{% url 'register' %}" method="post">
					{% csrf_token %}

					{% include 'partials/messages.html' %}
					<div class="form-group mb-3">
						<input type="text" placeholder="Username" name="username" id="usernameField" class="form-control form-control-sm" value="{{fieldValues.username}}">
					</div>
					<!-- Error message of invalid username, do not display naturally -->
					<div class="usernameFeedbackArea invalid-feedback" style="display:none"></div>
					<!-- Username sucess area -->
					<p class="text-sm valid-feedback usernameSuccessOutput"></p>
						
					
					<div class="form-group mb-3">
						<input type="email" placeholder="user@email.com" name="email" id="emailField" class="form-control form-control-sm" value="{{fieldValues.email}}">
					</div>
					<!-- Error message of invalid email, do not display naturally -->
					<div class="emailFeedbackArea invalid-feedback" style="display:none"></div>
					<!-- Username sucess area -->
					<p class="text-sm valid-feedback emailSuccessOutput"></p>

					<div class="form-group mb-3">
						<input type="password" placeholder="Password" name="password" id="passwordField" class="form-control form-control-sm">
						<small class="float-end py-3 showPasswordToggle">SHOW</small>
					</div>
					<input type="submit" value="Register" class="btn btn-primary col-12 submitBtn" />
					<p class="text-center pt-4 ">Already have an account? <a href={% url 'login' %} >Login</a></p>
				</form>	

			</div>
				
			
		</div>

	</div>
	<div class="col-md-4"></div>
</div>


<script src="{% static 'js/register.js' %}"></script>

{% endblock %}